@font-face {
  font-family: 'Marlboro';
  src: url("../fonts/Marlboro.ttf");
}

.header{
  background-color: #BB0303;
  padding: 40px 25%;
  margin-bottom: 5%;
}

.what_brand {
  background-color: white;
  color: #BB0303;
  border-radius: 20%;
  text-align: center;
  height: 100%;
}

h1 {
  font-family: arial; 
  text-transform: uppercase;

}

.triangle_background{
  background-color: #BB0303;
  margin-top: -5%;
  font-family: 'Marlboro' arial;
  padding: 0  10% 2%;
}

.inner_triangle{
  background-color: white;
  padding: 5px 10px;
  text-align: center;
  border: 5px black solid;
}



.question{
  background-color: #bb9238;
  font-family: 'Marlboro' arial sans-serif;
  font-size: 1.5em;
  padding: 5px;
}

form {
  text-align: center;
  font-family: helvetica, sans-serif bold;
}

.space{
  background-image: url('../images/smoke.jpeg');
  border-radius: 5px;
  border-color: black; 
  font-family: 'Marlboro';
  font-size: 1.25em;
  color: #1A9F67;
  padding: 15px;
  text-shadow: 2px 1px black;
}

h3 {
  font-family: "Marlboro", arial, sans-serif;
  font-size: 1.25em
}

.image_border{
  margin: 10px;
  margin-left: 35%; 
}






